* {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(222, 26%, 31%);
  color: hsl(0, 0%, 100%);
}
.calculator {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.buttons {
  background-color: hsl(223, 31%, 20%);
  display: grid;
  grid-template-columns: 70px 70px 70px 70px;
  gap: 20px;
  padding: 20px;
  border-radius: 9px;
}

.screen {
  background-color: hsl(224, 36%, 15%);
  border-radius: 9px;
  width: 380px;
  padding: 30px;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
p {
  text-align: end;
  overflow: hidden;
}
.answer {
  font-size: 20px;
  color: hsl(28, 16%, 65%);
}
.btn {
  padding: 10px;
  border-radius: 9px;
  text-align: center;
  background-color: hsl(30, 25%, 89%);
  color: hsl(221, 14%, 31%);
  box-shadow: 1px 3px hsl(28, 16%, 65%);
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}
.remove {
  background-color: hsl(225, 21%, 49%);
  box-shadow: 1px 3px hsl(224, 28%, 35%);
  color: hsl(0, 0%, 100%);
}
.equal {
  background-color: hsl(6, 63%, 50%);
  box-shadow: 1px 3px hsl(6, 70%, 34%);
  grid-column: 3 / span 2;
  color: hsl(0, 0%, 100%);
}
.reset {
  grid-column: 1 / span 2;
}
.header {
  width: 370px;
  display: flex;
  justify-content: space-between;
}
.logo {
  align-self: flex-end;
}
.mode {
  display: flex;
  gap: 15px;
}
.mode span {
  font-size: 13px;
  align-self: flex-end;
  margin-bottom: 4px;
  letter-spacing: 1px;
}
.mode-btn {
  display: flex;
  flex-direction: column;
}
.mode-number {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 4px;
}
.mode-number span {
  font-size: 13px;
  cursor: pointer;
}
.mode-slider {
  width: 50px;
  height: 20px;
  border-radius: 9px;
  background-color: hsl(223, 31%, 20%);
  display: flex;
  align-items: center;
  padding: 3px;
  position: relative;
  cursor: pointer;
}
.mode-part {
  width: 16px;
  height: 20px;
}
.mode-parts {
  border-radius: 9px;
  position: absolute;
  display: flex;
}
.mode-circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: hsl(6, 63%, 50%);
  cursor: pointer;
  transition: all 0.1s linear;
}
@media (max-width: 421px) {
  .buttons {
    grid-template-columns: 70px 70px 70px;
  }
  .screen {
    width: 290px;
  }
  .reset,.equal{
    grid-column: auto;
  }
  .reset span{
    font-size: 20px;
  }
}